@using StreamingMovie.Application.Common.Pagination
@using StreamingMovie.Application.DTOs
@model PagedResult<CommentResponseDTO>




@functions {
    public string GetRelativeTime(DateTime createdAt)
    {
        var now = DateTime.UtcNow;
        var diff = now - createdAt.ToUniversalTime();

        if (diff.TotalMinutes < 1)
            return "Just now";
        if (diff.TotalMinutes < 60)
            return $"{(int)diff.TotalMinutes} minute(s) ago";
        if (diff.TotalHours < 24)
            return $"{(int)diff.TotalHours} hour(s) ago";
        return $"{(int)diff.TotalDays} day(s) ago";
    }
}

@foreach (var comment in Model.Items)
{
    <div class="anime__review__item">
        <div class="anime__review__item__pic">
            <img src="@comment.AvatarUrl" alt="">
        </div>
        <div class="anime__review__item__text">
            @{
                var timeAgo = GetRelativeTime(comment.CreatedAt ?? DateTime.UtcNow);
            }
            <h6>@comment.FullName - <span>@timeAgo</span></h6>
            
            <p>
                @comment.Content
            </p>
        </div>
    </div>
    @* <div style="width: 90%; margin-left: auto;">
        @await Component.InvokeAsync("ChildComment", new { parentId = comment.Id })
    </div> *@
}