@using StreamingMovie.Web.Views.Account.ViewModels

@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="@Url.Content("~/img/slider-bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Login</h2>
                    <p>Welcome to the official Anime blog.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Login</h3>
                    <form asp-action="Login" method="post">

                        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <span asp-validation-for="Email" class="text-danger position-relative"></span>
                        <div class="input__item">
                            <input asp-for="Email" placeholder="Email address" class="form-control" required />
                            <span class="icon_mail"></span>
                        </div>

                        <span asp-validation-for="Password" class="text-danger position-relative"></span>
                        <div class="input__item">
                            <input asp-for="Password" placeholder="Password" class="form-control" required />
                            <span class="icon_lock"></span>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label text-white">
                                <input class="form-check-input" asp-for="RememberMe" />
                                @Html.DisplayNameFor(model => model.RememberMe)
                            </label>
                        </div>

                        <button type="submit" class="site-btn">Login</button>
                    </form>
                    <a asp-action="ForgotPassword" asp-controller="Account" class="forget_pass">Forgot Your Password?</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>Dont’t Have An Account?</h3>
                    <a asp-action="Register" asp-controller="Account" class="site-btn">Sign Up Now</a>
                </div>
            </div>
        </div>
        <div class="login__social">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <span>or</span>
                        <ul>
                            <li>
                                <a href="#" class="facebook">
                                    <i class="fa fa-facebook"></i> Sign in With
                                    Facebook
                                </a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Section End -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}