@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        @await Component.InvokeAsync("HeroSlider")
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @await Component.InvokeAsync("TrendingMovie")
                @await Component.InvokeAsync("PopularMovie")
                @await Component.InvokeAsync("RecentMovie") 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    @await Component.InvokeAsync("SidebarMovie")
                    @await Component.InvokeAsync("SidebarComment")
                </div>
            </div>
        </div>
    </div>
</section>